/* [0] Font Face & Initialization */
body {
    background-color: rgb(240, 116, 116);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    
}

a {
    -webkit-tap-highlight-color:transparent;
} 

/* ⇣⇣ MOBILE SETTINGS ⇣⇣ */

/* [1] Header & Navigation - GLOBAL CSS */
/* [2] Hamburger Menu & Overlay - GLOBAL CSS*/
/* [3] Image Hero & Title - GLOBAL CSS*/

/* [4] Safety Foreground */
.safety-foreground {
    display: flex;
    /* margin: -20px; */
    flex-direction: column;
    align-items: center;
    background-color: rgb(124, 65, 65);
    padding: 20px;
    
}

.safety-intro img {
    height: auto;
    width: 100%;
    
}

.safety-content {
    max-width: 600px;
}

.safety-title, .safety-content {
    text-align: center;
}

/* [4.1] Safety Highlights */
.def-image-container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.safety-high-title {
    text-align: center;
}

.safety-highlight-content {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

/* [4.2] Safety Video */
.safety-video {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.video-content {
    text-align: center;
}

.video-container {
    margin: 0 auto;
    scale: 0.8;
}

iframe {
    aspect-ratio: 16/10;
} 


@media (min-width: 55em) { /* ⇣⇣ DESKTOP SETTINGS ⇣⇣ */

    /* [1] Header & Navigation - GLOBAL CSS */
    /* [2] Hamburger Menu & Overlay - GLOBAL CSS*/
    /* [3] Image Hero & Title - GLOBAL CSS*/

    /* [4] Safety Foreground */
    .safety-foreground {
       display: flex;
       flex-direction: row-reverse;
       justify-content: center;
       padding: 20px;
       
    }

    .safety-content {
        text-align: left;
    }

    /* [4.1] Safety Highlights */
    .def-image-container{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 20px;
        
    }
    
    .safety-highlight-content {
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
    }

    /* [4.2] Safety Video */
    .video-container {
        margin: 0 auto;
        scale: 1;
    }

    iframe {
        width: 960px;
        height: 540px;
    }

}